body {
  font-family: "Arial", Tahoma, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.typing-container {
  background-color: #2d2d2d;
  border: 1px solid #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 80%;
  max-width: 600px;
}

.timer {
  font-size: 24px;
  margin-bottom: 10px;
}

.sentence-to-type {
  margin: 20px 0;
  padding: 10px;
  font-size: 18px;
  text-align: left;
  border: 1px solid #666;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.typing-area {
  width: 95%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  outline: none;
  resize: none;
}

.submit-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #45a049;
}

.accuracy {
  margin: 10px 0;
  font-size: 18px;
}

.accuracy-value {
  font-weight: bold;
  color: #4caf50;
}

.wrong {
  color: red;
}
.right {
  color: green;
}

.leaderboard-container {
  background-color: #2d2d2d;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

table {
  border-collapse: collapse;
  padding: 20px;
}

.table-header {
  font-size: 22px;
  padding: 5px;
  font-weight: bold;
}

.table-content {
  font-size: 18px;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: #444;
}
