{% extends "layout.html" %}

{% block body %}
    <main>
        <div class="credits container">
            <h2>Credits</h2>

            <ul>
                <li>
                    <span>Jip van Dalen</span>
                    <a href="https://github.com/fizitzfux" target="_blank">fizitzfux</a>
                </li>
                <li>
                    <span>Lucas Huls</span>
                    <a href="https://github.com/LucasHuls" target="_blank">LucasHuls</a>
                </li>
                <li>
                    <span>Thijs Bakker</span>
                    <a href="https://github.com/TheisGeemsNL" target="_blank">TheisGeemsNL</a>
                </li>
                <li>
                    <span>Ammar Al Jwabreh</span>
                    <a href="https://github.com/levai0" target="_blank">levai0</a>
                </li>
                <li>
                    <span>Sam Elfring</span>
                    <a href="https://github.com/SamElfring" target="_blank">SamElfring</a>
                </li>
            </ul>
        </div>

        <div class="links">
            <a href="/">Go back</a>
        </div>
    </main>
{% endblock body %}
