{% extends "layout.html" %}

{% block body %}
    <div class="typing-container">
        <h1>Typing Test</h1>
        <p class="sentence-to-type">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <form id="typing-form">
          <div class="timer">Timer: 0:00</div>
          <textarea class="typing-area" placeholder="Start typing here..."></textarea>
          <button class="submit-btn" type="button" onclick="calculateAccuracy()">Submit</button>
          <div class="accuracy">Accuracy: <span class="accuracy-value">0</span>%</div>
          <div class="wpm">WPM: <span class="accuracy-value">0</span></div>
        </form>
      </div>
{% endblock %}