{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>WPM</th>
            <th>Points</th>
        </tr>
        {% for user in leaderboard %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{user.username}}</td>
                <td>{{user.words_per_minute}}</td>
                <td>{{user.words_entered}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}
