{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <td>Rank</td>
            <td>Username</td>
            <td>WPS</td>
            <td>Points</td>
        </tr>
        {% for user in leaderboard %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{user.username}}</td>
                <td>{{user.words_per_minute}}</td>
                <td>{{user.words_entered}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}
