{% extends "layout.html" %}

{% block body %}
    <main>
        <div class="rules container">
            <h2>How to play:</h2>

            <ol class="rules-how-to">
                <li>Start typing the displayed text as accurately and quickly as possible.</li>
                <li>Observe your real-time typing speed (WPM) and accuracy.</li>
                <li>Complete the exercise and receive feedback on your performance.</li>
                <li>Track your progress and compete with others on the leaderboard.</li>
            </ol>

            <hr>

            <div class="rules-how-to">
                <p>When you make a mistake just keep typing to the end of the sentence.</p>
            </div>
        </div>

        <div class="links">
            <a href="/">Go back</a>
        </div>
    </main>
{% endblock body %}
